@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@utility icon-wrapper{
    @apply p-[0.6rem] bg-neutral-100 dark:bg-white/10 rounded-full text-neutral-500 dark:text-neutral-400 hover:text-[#1C1C1C] dark:hover:text-neutral-200 cursor-pointer transition-all duration-300 flex items-center justify-center;
}